body {
    border: 20px;
    background-color: rgb(55, 189, 241);
}

.grid-container {
    display: grid ;
    grid-template-columns: auto auto auto auto; 
    grid-gap: 1%;
    padding: 5%;
    border: 7px ;
    width: 0 auto;
    height: 0 auto;
    text-align: center;
    padding: 0px 0;
}


.itemc {
    grid-column: 1;
    grid-row: 1;
}
.iteminput {
    grid-column: 2;
    grid-row: 1;
}
.item7 {
    grid-column: 1;
    grid-row: 2;
}
.item8 {
    grid-column: 2;
    grid-row: 2; 
}
.item9 {
    grid-column: 3;
    grid-row: 2;
}
.item4 {
    grid-column: 1;
    grid-row: 3;
}
.item5 {
    grid-column: 2;
    grid-row: 3;
}
.item6 {
    grid-column: 3;
    grid-row: 3;
}
.item1 {
    grid-column: 1;
    grid-row: 4;
}
.item2 {
    grid-column: 2;
    grid-row: 4;
}
.item3 {
    grid-column: 3;
    grid-row: 4;
}
.item0 {
    grid-column: 1;
    grid-row: 5;
}
.itemdot {
    grid-column: 2;
    grid-row: 5;
}
.itemeq {
    grid-column: 3;
    grid-row: 5;
}
.itemplus {
    grid-column: 4;
    grid-row: 5;
}
.itemminus {
    grid-column: 4;
    grid-row: 4;
}
.itemmult {
    grid-column: 4;
    grid-row: 3;
}
.itemslash {
    grid-column: 4;
    grid-row: 2;
}
#output {
    font-size: 3.2em;
}
.item-output {

    grid-column: 2/5;
    grid-row: 1;
    width: 0 auto;
    padding: 5%;
    border: 5%;
    text-align: center;
    justify-content: space-around;
}


.numbut {
    width: 0 auto;
    padding: 2%;
    border: 2%;
    margin: 2%;
    text-align: center;
}

.button {
    padding: 35px;
    border-radius: 30%;
    font-size: 1.4em;
    margin: 1%;
}
